html, body {
    font-family: 'Monda', sans-serif;
    height: 100%;
}

/* Trick to fill background: https://css-tricks.com/perfect-full-page-background-image/
Tinting code: ;
*/
body.index { 
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.5) 10%, rgba(10, 10, 10, 0.5) 100%), url(../images/burgh.jpg) no-repeat center center fixed;
    background-size: cover;
}

body.about { 
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.6) 10%, rgba(10, 10, 10, 0.6) 100%), url(../images/boston.jpg) no-repeat center center fixed;
    background-size: cover;
}

header.header {
    background-size: cover;
    padding: 10vw;
    text-align: center;
}

/*_____________________________________________________________________
*/
.container {
    display: inline-block;
    position: relative;
    width: 300px;
}

img.hovIm {
  opacity: 0;
  height: auto;
  transition: .7s;
  backface-visibility: hidden;
}

.centIm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover .hovIm {
  opacity: 0.5;
}
/*_____________________________________________________________________
*/

img.proj {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

div.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #cc1010;
}

div.proj_container:hover .overlay {
    opacity: 0.8;
}

div.proj_container {
    display: inline-block;
    position: relative;
    width: 200px;
}

div.text_style {
    font-size: 2em;
    color: white;
}

/*_____________________________________________________________________
*/
.research_head {
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.5) 10%, rgba(10, 10, 10, 0.5) 100%), url(../images/thh.png) no-repeat center center fixed;
}

.experience_head {
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.5) 10%, rgba(10, 10, 10, 0.5) 100%), url(../images/code.jpg) no-repeat center center fixed;
}

h1.welcome {
    color: white;
    font-size: 4.5em;
    text-align: center;
}

h2.welcome {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

h2.intro {
    color: white;
    text-align: justify;
    font-size: 1.5em;
    margin-left: -3%;
}

p.creds {
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

img.headshot {
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
}

div.disp img {
    width: 100%;
    max-width: 350px;
}

div.head img {
    width: 250px;
    max-width: 350px;
}

div.section {
    padding-bottom: 2em;
}

div.navOffset {
    padding-top: 7em;
}

a.main {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
}

a.wlink {
    color: white;
    font-weight: bold;
}

/*Style from: https://codepen.io/ibrahimjabbari/pen/ozinB*/
hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}

p.home {
    margin-top: 1em;
    font-size: 200%;
    text-align: center;
}


.black {
  color: black;
}

.gray {
    background: #F0F0F0;
}

.highlight:hover {
    color: yellow;
}

.dropdown:hover .dropdown-menu {
   display: block;
}

